## misc
alias suod='sudo'
alias rga='rg --hidden -l -F'
alias push='pushd -n'
alias pop='popd -n'
alias subl='subl --launch-or-new-window'
alias cmatrix='tput clear;cmatrix -abs -u 9 | lolcat -t -p 18;tput reset'
alias portstat='ss -lntup'

## get external (public) ip address
wget 2>/dev/null ; [ $? != 1 ] || alias pubIP='wget --https-only -qO - https://icanhazip.com'

## dimensions of working-terminal
alias height='stty size | cut -d\  -f1'
alias width='stty size | cut -d\  -f2'

## disk space % used
used() { df ${1:-${PWD:-$(pwd)}} | awk '/^Filesystem/{ next; }; {print $5}' ; }
## fail if disk % used is over [limit]
savior() { (( $(used "${1}" | tr -d \%) < ${2:-90} )); }

## restrict file names
restrictfn() { : "${*%\.*}" ; : "${_//[[:space:][:punct:]]/\_}" ; echo "${_//+(\_)/\_}.${@##*\.}" ; }
alias rfn='restrictfn'

## strike-through text
strike() { printf "\e[9m%s\e[m\n" "${@}" ; }

## url formatting
alias urlencode='url encode'
alias urldecode='url decode'

## calculate price after 6% sales tax
afterTax() { echo "scale=2; (${@//[!0-9\.]/} * .06) + ${@//[!0-9\.]/}" | bc -l ; }
alias price='afterTax'
